@import "theme.css";

@font-face {
  font-family: "Museo Sans 500";
  src: url("../font/MuseoSans-500.woff2") format("woff2"),
    url("../font/MuseoSans-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  margin: 0;
  font-family: "Museo Sans 500";
}
body {
  background: url(../images/desktop_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* fall-back */
  min-height: -moz-available;
  justify-content: center;
  position: relative;
  width: 100vw;
  overflow-y: auto;
}

img {
  width: 100%;
  height: auto;
}

.main_logo {
  width: 40%;
  max-width: 115px;
  height: 115px;
  height: auto;
}

.dynamic_logo {
  max-width: 195px;
  width: 50%;
}

.pattern_bg {
  display: block;
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
}

h4 {
  font-weight: 900;
  color: var(--primary-text-colour);
  margin-bottom: 0;
  text-align: center;
}

.submit-btn,
.submit-btn:hover {
  font-weight: 100;
  background: var(--button-colour);
  color: var(--primary-text-colour);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  text-transform: uppercase;
  border-color: var(--button-colour);
}

.form-control,
.form-select,
.form-control:focus {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1.2px solid #fff;
  color: var(--primary-text-colour);
  font-size: 0.9rem;
  margin: 10px 0px;
}

.form-select {
  background-image: var(--dropdown-white) !important;
  text-align-last: center;
  text-align: center;
  text-indent: 25px;
}

.form-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  color: var(--primary-text-colour) !important;
}

.form-select::placeholder {
  color: var(--primary-text-colour) !important;
  left: 100px !important;
}

.centerVideo {
  justify-content: center;
  display: flex;
  padding: 10px;
  align-items: center;
}

.invalid-feedback {
  text-align: center;
}
